.main {
    display: flex;
    position: relative;
    top: 10vh;
    flex-direction: column;
}

.search {
    background:  rgb(69, 69, 69);
    padding: 2vh;
    width: 100vw;
}

.searchBar {
    position: relative;
    width: 60vw;
    margin-left: 20vw;
    height: 5vh;
    border: 0.2rem solid black;
    border-radius: 1rem;
    transition: all 1s;
    text-indent: 1rem;
}

.searchFilter {
    position: relative;
    /* top: 12vh; */
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    display: flex;
    align-items: center;
}


.searchFilter p {
    display: inline;
}

.searchFilter input {
    margin: 0.5rem;
}

.searchFilter label {
    margin: 1rem;
}

.searchBar:focus {
    transform: scale(1.2);
}