.btn {
    border-radius: 2vw;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    background-color: rgb(238, 194, 24);
    color: rgb(0, 53, 95);
    position: fixed;
    right: 10vw;
    top: 2vh;
    height: 6vh;
    width: 5vw;
    cursor: pointer;
    transition: all 0.1s;
}

.btn:hover{
    transform: scale(1.05);
}

.ownBtn {
    border-radius: 2vw;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    background-color: rgb(0, 53, 95);
    color: rgb(238, 194, 24);
    position: fixed;
    right: 10vw;
    top: 2vh;
    height: 6vh;
    width: 5vw;
    cursor: pointer;
    transition: all 0.1s;
}

.ownBtn:hover{
    transform: scale(1.05);
}